$black: #000000;
$white: #FFFFFF;
$light: #FCFCFC;
$dark: #0F0F0F;

$accent-colour-1: #F0F0F0;
$accent-colour-2: #1F1F1F;
$accent-colour-3: #202020;
$accent-colour-4: #171717;
$accent-colour-5: #3D3D3D;
$accent-colour-6: #4F4F4F;

$theme-colour-1: #AAFF55;
$theme-colour-2: #EFF8E5;
$theme-colour-3: #02D8E9;
$theme-colour-4: #E7F9FA;
$theme-colour-5: #EEEE66;
$theme-colour-6: #F9F9EA;
$theme-colour-7: #FB5072;
$theme-colour-8: #F8E2E6;
$theme-colour-9: #FF5F9F;
$theme-colour-10: #FFD2E4;
$theme-colour-11: #FF973C;
$theme-colour-12: #FDE3CC;
$theme-colour-13: #60F2CB;
$theme-colour-14: #E9F9F5;
$theme-colour-15: #D898FF;
$theme-colour-16: #F2E6F9;
$theme-colour-17: #D3F559;
$theme-colour-18: #F5FCDC;
$theme-colour-19: #FF7850;
$theme-colour-20: #FBD3C8;
$theme-colour-21: #ED5AF8;
$theme-colour-22: #FACBFE;
$theme-colour-23: #90A7F3;
$theme-colour-24: #E2E8FD;