@import '../../resources/theme.scss';
@import '../../utils/mixins.scss';

.headerContainer {

    .secondaryText {
        @include colourWithOpacity(color, $theme-colour-2);
        font-weight: 300;
        font-size: 0.85rem;

        @media (min-width: 1200px) {
            font-size: 0.9rem;
        }
    }

    .primaryText {
        @include colourWithOpacity(color, $theme-colour-1);
        font-family: 'Charmonman', cursive;
        font-weight: 900;
        font-size: 4rem;
        letter-spacing: -0.5px;
        line-height: 5rem;
        margin-top: 0.5rem;

        @media (min-width: 1200px) {
            font-size: 6rem;
            line-height: 6rem;
        }
    }
}