@import './resources/theme.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Poppins', sans-serif;
}